<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PlayList 전체목록</title>
  <link rel="stylesheet" th:href="@{/css/playList/all.css}" />
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/js/playList/detail.js}"></script>

</head>

<body>
<h1>플리이름~</h1>


<hr>


<table>
  <tr>
    <td>노래제목</td>
    <td>가수</td>
    <td>tj번호</td>
    <td>ky번호</td>
    <td>등록일</td>
    <td>삭제</td>
  </tr>
</table>
<table id="table-add">
</table>



</body>
</html>

