<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>「コインカラオケ」歌いましょう</title>
        <script src="/js/karaoke.js" defer></script>
        <link
            rel="stylesheet"
            th:href="@{/css/rank.css}"
            href="../static/css/rank.css"
        />

        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
        <script th:src="@{/js/rank.js}"></script>
    </head>
    <style></style>

    <script>
        function toggleLike(element) {
            // 'like' 클래스를 토글하여 아이콘 색상 변경
            element.classList.toggle("active");
        }

        function addToPlaylist() {}
    </script>

    <body>
        <div class="container">
            <div class="containertop">
                <!-- <a href="#"> <img src="/images/menu_icon.png" alt="메뉴 이미지" class="menu_img" name="menu_img"></a> -->
                <a th:href="@{playList/playlist}"><img th:src="@{/images/PL.png}" alt="플레이리스트 아이콘"></a>
            <a th:href="@{rank}"><img th:src="@{/images/rank.png}" alt="랭킹 아이콘"></a>
            <a th:href="@{map}"><img th:src="@{/images/map.png}" alt="지도 아이콘"></a>
            <a th:href="@{logout}"> <img th:src="@{/images/logout.png}" alt="로그아웃 아이콘"></a>
            </div>
            <div class="content">
                <div class="containersearch">
                    <input
                        type="search"
                        class="search"
                        name="search"
                        autocomplete="off"
                        id="search-input"
                        placeholder="제목, 가수명으로 검색해주세요"
                    />
                    <a href="#">
                        <img
                            src="/images/search_img.png"
                            alt=""
                            class="search_btn"
                    /></a>
                </div>
                <div class="ranking-title">TOP 100</div>
                <ul class="playlist">
                    <!-- 노래 들어가는 부분-->
                </ul>
            </div>
        </div>

        <div class="hidden modal" id="modal">
            <div class="modal-content">
                <h3>플레이리스트</h3>
                <button class="close" id="closeModal">X</button>

                <div class="playlist-list">
                    <!-- 각 플레이리스트 항목들 -->
                </div>
            </div>
        </div>

<!--       히든 추가 해야합니다~ -->
        <div class="hidden modals" id="modals">
            <div class="modal-content">
                <h3>검색결과</h3>
                <div id="target" class="search-list">

                </div>
            </div>
        </div>
        <div class="modal-overlay hidden" id="modalOverlay"></div>

    </body>
</html>
